<header class="header">
  <h1 class="header--h1">Hacker News</h1>
</header>

<section class="section--home">

  <!-- BUTTONS SHOW NEWS -->
    <div class="btn--publications--type">
      <button
        class="animate__animated animate__fadeIn"
        (click)="showNews(true, chooseFramework.title)"
        [ngClass]="{'active-left':btnShow==0}">
        All
      </button>
      <button
        class="animate__animated animate__fadeIn"
        (click)="showNews(false, chooseFramework.title)"
        [ngClass]="{'active-right':btnShow==1}">
        My faves
      </button>
    </div>
  <!-- BUTTONS SHOW NEWS -->

  <div class="body--section">

    <!-- SELECT NEWS -->
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="../../../assets/frameworks/{{chooseFramework.img}}.png" alt="" *ngIf="chooseFramework.title!='Select your news'">
          {{chooseFramework.title}}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <li (click)="onLoadData('angular','0')">
            <button class="dropdown-item" type="button">
            <img src="../../../assets/frameworks/angular.png" alt="">
            Angular
          </button>
          </li>
          <li (click)="onLoadData('reactjs','0')">
            <button class="dropdown-item" type="button">
              <img src="../../../assets/frameworks/reactjs.png" alt="">
              React
            </button>
          </li>
          <li (click)="onLoadData('vuejs','0')">
            <button class="dropdown-item" type="button">
              <img src="../../../assets/frameworks/vuejs.png" alt="">
              Vuejs
            </button>
          </li>
        </ul>
      </div>
    <!-- SELECT NEWS -->

    <!-- PUBLICATIONS -->
      <div
        class="grid--publications"
        *ngIf="btnShow == 0"
        infiniteScroll
        (scrolled)="onScrollDown(chooseFramework.title)">

        <div class="publications animate__animated animate__fadeIn" *ngIf="dataNews.length==0">

          <div class="content--publication">
            <span>
              <i class="far fa-clock"></i>
              <p>Today</p>
            </span>

            <a href="/" target="_blank" rel="noopener noreferrer">
              <article>You have not selected any framework, please select one to display the news</article>
            </a>
          </div>

          <div class="segment--like">
            <i class="fas fa-newspaper animate__animated animate__fadeIn"></i>
          </div>

        </div>

        <div class="publications animate__animated animate__fadeIn" *ngFor="let item of dataNews; let i = index">

          <div class="content--publication">
            <span>
              <i class="far fa-clock"></i>
              <p> {{getDay(item.created_ad)}} {{getMonth(item.created_ad)}} by {{item.author}}</p>
            </span>

            <a href="{{item.story_url}}" target="_blank" rel="noopener noreferrer">
              <article>{{item.story_title}}</article>
            </a>
          </div>

          <div class="segment--like">
            <i class="far fa-heart animate__animated animate__fadeIn" *ngIf="!item.like" (click)="likes(true,i,chooseFramework.title)"></i>
            <i class="fas fa-heart  animate__animated animate__rubberBand" *ngIf="item.like" (click)="likes(false,i,chooseFramework.title)"></i>
          </div>

        </div>
      </div>

      <!-- FAVORITES PUBLICATIONS -->
      <div class="grid--publications" *ngIf="btnShow == 1">

        <div class="publications animate__animated animate__fadeIn" *ngIf="dataFavorite.length==0">

          <div class="content--publication">
            <span>
              <i class="far fa-clock"></i>
              <p>Today</p>
            </span>

            <a href="/" target="_blank" rel="noopener noreferrer">
              <article>There is no favorite news about this framework, please select one to show the news</article>
            </a>
          </div>

          <div class="segment--like">
            <i class="fas fa-newspaper animate__animated animate__fadeIn"></i>
          </div>

        </div>

          <div class="publications animate__animated animate__fadeIn" *ngFor="let item of dataFavorite; let i = index">
            <div class="content--publication" >
              <span>
                <i class="far fa-clock"></i>
                <p>2 hours ago by {{item.author}}</p>
              </span>

              <a href="{{item.story_url}}" target="_blank" rel="noopener noreferrer">
                <article>{{item.story_title}}</article>
              </a>
            </div>

            <div class="segment--like">
              <i class="far fa-heart animate__animated animate__fadeIn" *ngIf="!item.like" (click)="likes(true,i,chooseFramework.title)"></i>
              <i class="fas fa-heart  animate__animated animate__rubberBand" *ngIf="item.like" (click)="likes(false,i,chooseFramework.title)"></i>
            </div>

          </div>

      </div>
      <!-- FAVORITES PUBLICATIONS -->

    <!-- PUBLICATIONS -->

  </div>

</section>

<!-- BUTTON TO UP -->
<div class="btn--come-to-up" *ngIf="showbtn" (click)="onScrollTop()">
  <i class="fas fa-chevron-circle-up"></i>
</div>
<!-- BUTTON TO UP -->

<!-- TOAST DATA -->
<div class="toast-data" *ngIf="showToast" (click)="onScrollTop()">
 - No more data news -
</div>
<!-- TOAST DATA -->

<!-- TOAST LOADING -->
<div class="toast-loading-background animate__animated animate__pulse" *ngIf="showLoading">
  <div class="toast-loading">
    <i class="fas fa-spinner"></i>
  </div>
</div>
<!-- TOAST LOADING -->


